/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/** What follows is the result of much research on cross-browser styling.* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,* Kroc Camen, and the H5BP dev community and team.*/
/* ==========================================================================Base styles: opinionated defaults========================================================================== */
html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	scroll-behavior: smooth;
}
/** Remove text-shadow in selection highlight:* https://twitter.com/miketaylr/status/12228805301** Vendor-prefixed and regular ::selection selectors cannot be combined:* https://stackoverflow.com/a/16982510/7133471** Customize the background color to match your design.*/
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
/** A better looking default horizontal rule*/
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
/** Remove the gap between audio, canvas, iframes,* images, videos and the bottom of their containers:* https://github.com/h5bp/html5-boilerplate/issues/440*/
audio,canvas,iframe,img,svg,video {
	vertical-align: middle;
}
/** Remove default fieldset styles.*/
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
/** Allow only vertical resizing of textareas.*/
textarea {
	resize: vertical;
}
/* ==========================================================================Browser Upgrade Prompt========================================================================== */
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* ==========================================================================Author's custom styles========================================================================== */
body {
	overflow-x: hidden;
}
header {
	background-color: #02ACF0;
	min-height: 100px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
h1,h2,h3 {
	margin: 0 auto;
}
.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar a {
	color: #FFFFFF;
	font-family: "Barlow Semi Condensed", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 30px;
	text-decoration: none;
}
.navbar a:hover {
	color: #000000;
}
.Hero {
	height: 760px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-image: url('../img/beatleshero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: none;
}
/* I updated the header font to Aladin and gave it some letter spacing of 10px in order to space out the text like you have in your design. */
.hero_cta {
	text-align: center;
	font-family: 'Aladin', serif;
	letter-spacing: 10px;
}
.hero_cta:hover {
	color: #E459AB
}
.hero_cta {
	width: 100%;
	font-family: "Aladin", . sans-serif;
	font-style: normal;
	font-weight: light;
	font-size: 130px;
	line-height: 353px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.55);
}
#title1 {
	font-family: "Alegreya", sans-serif;
	font-style: normal;
	color: #FFEE9B;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.55);
	transform: rotate(-90deg);
	margin: 0 auto;
	padding: 30px;
}
#title1 h2 {
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	margin: 2%;
	width: 300px;
}
/* Got rid of the big margin around the paragraph in order to bring the "Who are the Beatles?" text closer to the paragraph. I kept the paragraph at 80% and added some internal padding on the right to keep it away from the browser window. */
#Paragraph1 {
	width: 80%;
	padding-right: 17%;
	font-family: 'Maven Pro', sans-serif;
}
.About_Section {
	width: 100%;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg, #E459AB 17.71%, #FFFFFF 95.83%), #E459AB;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	flex-direction: row;
}
/* I added some margin around sectionbox in order to give it some breathing room. */
.Sectionbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 2%;
	margin: 2%;
}
.Tour_Sec {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 0 auto;
	width: 100%;
	background-image: url('../img/hero section 2.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: none;
}
/* Updated some of the styles (got rid of the positioning elements) to help center the header on the page.*/
.Section_2 h3 {
	font-family: "Aladin", sans-serif;
	font-weight: normal;
	font-size: 110px;
	line-height: 135px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FF9AD6;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.65);
}
.Tour_dates {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 5% 0% 5% 10%;
	font-family: "Maven Pro", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}
/* added some styles to get the columns to show up correctly. */
#P1,#P2 {
	width: 100%;
	min-width: 300px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0%;
}
.centerme {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 0 auto;
	flex-direction: row;
}
.centerme_testimonials {
	display: flex;
	justify-content: space-between;
	margin: 3% 0 3% 0;
	flex-direction: row;
}
.columnme {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
}
/* renamed class to "buttonsection" this will create less confusion with the button element. */
.buttonsection{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 250% 445% 5% 0;
	width: 100%;
}
/* Added some styles to the actual button to have it mimic your design */
.buttonsection button {
	font-family: 'Maven Pro', sans-serif;
	background-color: #FF7000;
	border-radius: 35px;
	font-size: 16px;
	border: none;
	color: white;
	padding: 15px 45px;
	text-align: center;
}
.buttonsection button:hover {
	color: #000000;
}
/* Added new section for the Fans Header to show up in the dark orange and targeted the h3 in the section. Got rid a lot of the positioning styling. */
.Fans_Header{
	background-color: #FF7000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: auto;
}
.Fans_Header h3{
	font-family: "Aladin", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 118px;
	color: #FFEE9B;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
	margin: 0 auto;
	text-align: center;
}
.Fans_Section {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background-image: url('../img/hero section 3.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: none;
	padding: 100px;
	height: 550px;
}
/* added this class to the submarine images in order to give them some space. */
.breathingroom{
	margin: 15px;
}
.Fans {
	width: 384px;
	height: px;
	left: 545px;
	top: 2211px;
	font-family: "Aladin", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 118px;
	flex-direction: row;
	width: 100%;
}
/* Updated styles in this (added missing font family) in order to get them aligned. */
.Fancolumn {
	width: 100%;
	min-height: 550px;
	text-align: center;
	color: #FF7000;
	margin: 5%;
}
.Fan_reviews{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.Fancolumn {
	width: 300%;
	font-family: "Noticia Text", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	color: #000000;
	flex-direction: column;
	margin: 5%;
	align-items: center;
}
.Fancolumn p{
	margin: 5px 30px 10px 5px;
}
.Fancolumn p{
	margin: 5px 30px 10px 5px;
}
footer {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-content: center;
	background: #02ACF0;
	margin: 0 auto;
}
footer p {
	font-family: "Maven Pro", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
footer :hover {
	color: #000000;
}
/* ==========================================================================Helper classes========================================================================== */
/** Hide visually and from screen readers*/
.hidden {
	display: none !important;
}
/** Hide only visually, but have it available for screen readers:* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility** 1. For long content, line feeds are not interpreted as spaces and small width* causes content to wrap 1 word per line:* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe*/
.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}
/** Extends the .sr-only class to allow the element* to be focusable when navigated to via the keyboard:* https://www.drupal.org/node/897638*/
.sr-only.focusable:active,.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}
/** Hide visually and from screen readers, but maintain layout*/
.invisible {
	visibility: hidden;
}
/** Clearfix: contain floats** For modern browsers* 1. The space content is one way to avoid an Opera bug when the* `contenteditable` attribute is included anywhere else in the document.* Otherwise it causes space to appear at the top and bottom of elements* that receive the `clearfix` class.* 2. The use of `table` rather than `block` is only necessary if using* `:before` to contain the top-margins of child elements.*/
.clearfix:before,.clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}
.clearfix:after {
	clear: both;
}
/* ==========================================================================EXAMPLE Media Queries for Responsive Design.These examples override the primary ('mobile first') styles.Modify as content requires.========================================================================== */

/* On screens that are 900px wide or less */
@media screen and (max-width: 900px) {
  .Sectionbox,.Fancolumn {
		flex-direction: column;
	}

  #title1{
    transform: rotate(0deg);
  }

  .Fan_reviews{
    flex-direction: column;
  }

  #Paragraph1 {
    width: 100%;
    padding-right: 0;
  }

  .centerme_testimonials {
    width: 30%;
}

.Fans_Section{
  height: 100%;
}

}

/* On screens that are 768px wide or less */
@media screen and (max-width: 768px) {

}

/* On screens that are 550px wide or less */
@media screen and (max-width: 550px) {

}

/* On screens that are 450px wide or less */
@media screen and (max-width: 450px) {

}
/* ==========================================================================Print styles.Inlined to avoid the additional HTTP request:https://www.phpied.com/delay-loading-your-print-css/========================================================================== */
@media print {
	*,*:before,*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster */
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	/** Don't show links that are fragment identifiers,* or use the `javascript:` pseudo protocol*/
	a[href^="#"]:after,a[href^="javascript:"]:after {
		content: "";
	}
	pre {
		white-space: pre-wrap !important;
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/** Printing Tables:* https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables*/
	thead {
		display: table-header-group;
	}
	tr,img {
		page-break-inside: avoid;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}
